body {
  font-family: Georgia, serif;
  font-size: 120%;
  line-height: 1.5;
  max-width: 35em;
  margin: auto;
  padding: 0 1em;
}
h1, h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
}
h3, h4, h5, h6 {
  font-family: sans-serif;
}
hr {
  border-style: solid;
  border-color: #0003;
  border-width: 1px 0 0;
}
